.navbar {
  padding: 1rem;
  transition: .3s ease-in-out;
}

.scrolled {
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba($color: nth($colors, 1), $alpha: .1);
  transition: .3s ease-in-out;

  .navbar-brand {
    width: 100px;
    transition: .3s ease-out;
  }
}

.navbar-toggler {
  border-color: rgba($color: nth($colors, 1), $alpha: .1) !important;

  span {
    padding: 5px;
    color: nth($colors, 1);
  }
}

.navbar-brand {
  width: 150px;
  height: auto;
  padding: 0;
  margin: 0;
  transition: .3s ease-in;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.navbar-nav {
  text-transform: uppercase;
  font-weight: 500;

  .nav-link {
    position: relative;
    color: nth($colors, 3) !important;
    border-bottom: 2px solid transparent;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: nth($colors, 1);
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-out;
    }

    &:hover {
      color: nth($colors, 2) !important;

      &::before {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: nth($colors, 1);
        transform-origin: left;
        transform: scaleX(1);
        transition: transform .3s;
      }
    }

    &.active {
      color: nth($colors, 1) !important;

      &::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: nth($colors, 1);
        transform-origin: left;
        transform: scaleX(1);
        transition: transform .5s ease-in-out;
      }
    }
  }

  a {
    margin: 0 20px;
  }
}