#services {
  height: auto;
}

.services {
  position: relative;
  right: 0;
  width: 100%;
  height: 100%;
  padding-top: 4rem;
}

.full-portofolio-card {
  height: 650px;
  overflow: hidden;
}

.menu {
  position: absolute;
  top: 50%;
  left: 0;
  height: 50px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .menu-carousel {
    width: 10px;
    height: 10px;
    border-radius: 25px;
    border: 1px solid nth($colors, 1);
    cursor: pointer;

    &.active {
      background-color: nth($colors, 1);
    }
  }
}

.package-basic,
.package-professional,
.package-expert {
  margin-top: 3rem;
}

.nav-pills {
  .nav-link {
    &.active {
      background-color: nth($colors, 1);
    }

    a {
      color: nth($colors, 1) !important;

      &:hover {
        color: darken(nth($colors, 1), 10%) !important;
      }
    }
  }
}