.modal {
  padding-right: 0 !important;
}

.modal-portofolio {
  .modal-dialog {
    max-width: 100%;
    margin: 0;
  }
}

.modal-full-portofolio {
  .modal-body {
    .close {
      position: relative;
      z-index: 1;
    }
  }

  .row {
    margin: 0;

    .col {
      padding: 0;
    }
  }
}